/* Helpers */

@import "bulma/css/bulma.css";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

body {
    font-family: sans-serif;
}

// Variables

$header-height: 54px;

// Typeograpy

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

h1 {
    font-family: "Abril Fatface", cursive;
}

button {
    padding: 0px;
    touch-action: manipulation;
}

.hidden {
    display: none;
}

// Navbar

.navbar {
    border-bottom: 2px solid #d3d6da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-item {
    padding: 0.5rem 0rem;
    line-height: 1;
}

// Modal

.modal-content {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.modal-content h2 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

// Flash message

.flash-message {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 16px 20px;
    z-index: 2;
    border-radius: 4px;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-out;
    font-weight: 600;
}

// Utility

.game-container {
    margin: 0 auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - $header-height);
}

.center {
    text-align: center;
}

.board {
    flex-grow: 1;
    margin: 10px 10px 0px;
    max-width: 360px;
}

.keyboard {
    margin-top: 5px;
    margin-bottom: 5px;
padding-left: 8px;
padding-right: 8px;
    width: 100%;
    max-width: 450px;
}

.tile {
    width: 60px;
    height: 60px;
    border: 2px solid #d3d6da;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-small {
    width: 40px;
    height: 40px;
}

.tile-x-small {
    width: 24px;
    height: 28px;
    margin: 1.5px;
}

.tile-inline {
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}

.tile span {
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.tile-small span {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.tile-x-small span {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.color-key {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    flex: 1;
}

.color-key .key-item {
    height: 35px;
    width: 46px;
}

.key-text {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 0px 2px;
    margin-bottom: 10px;
}

.tile-row {
    display: flex;
}

.has-status {
    color: white;
}

.distance-0-letter {
    color: #31b60b;
}

.distance-1-letter {
    color: #f4be06;
}

.distance-2-letter {
    color: #f4be06;
}

.distance-3-letter {
    color: #fe8b09;
}

.distance-4-letter {
    color: #fe8b09;
}

.distance-5-letter {
    color: #d4210f;
}

.distance-6-letter {
    color: #d4210f;
}

.distance-7-letter {
    color: #b732fc;
}

.distance-8-letter {
    color: #b732fc;
}

.distance-9-letter {
    color: #3d7ff6;
}

.distance-10-letter {
    color: #3d7ff6;
}

.distance-11-letter {
    color: #000000;
}

.distance-12-letter {
    color: #000000;
}

.distance-13-letter {
    color: #000000;
}

.distance-0 {
    background-color: #31b60b;
    border: 2px solid #31b60b;
}

.distance-1 {
    background-color: #f4be06;
    border: 2px solid #f4be06;
}

.distance-2 {
    background-color: #f4be06;
    border: 2px solid #f4be06;
}

.distance-3 {
    background-color: #fe8b09;
    border: 2px solid #fe8b09;
}

.distance-4 {
    background-color: #fe8b09;
    border: 2px solid #fe8b09;
}

.distance-5 {
    background-color: #d4210f;
    border: 2px solid #d4210f;
}

.distance-6 {
    background-color: #d4210f;
    border: 2px solid #d4210f;
}

.distance-7 {
    background-color: #b732fc;
    border: 2px solid #b732fc;
}

.distance-8 {
    background-color: #b732fc;
    border: 2px solid #b732fc;
}

.distance-9 {
    background-color: #3d7ff6;
    border: 2px solid #3d7ff6;
}

.distance-10 {
    background-color: #3d7ff6;
    border: 2px solid #3d7ff6;
}

.distance-11 {
    background-color: #000000;
    border: 2px solid #000000;
}

.distance-12 {
    background-color: #000000;
    border: 2px solid #000000;
}

.distance-13 {
    background-color: #000000;
    border: 2px solid #000000;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.spacer-half {
    flex: 0.5;
}
.jump {
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.wiggle {
    animation-name: wiggle;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.filled {
    animation-name: zoom;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

[v-cloak] {
    display: none;
}

// Animations

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-25px);
    }
    90% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(15px);
    }
    75% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
